
<div class="flex-wrap" id="cell<%= video.video._id %>">
    <div class="flex-wrap videoContainer"
        style="border: rgb(19, 161, 243); border-width: 2px; border-style: ridge; border-radius: 0.9vh;  margin-bottom:5px;">
        <div class="titleText"><a href="#" class="hrefTitle"><%= video.video.properties.title %></a></div>
        <div class="titleText2"><%= video.video.properties.timeStamp %></div>
        <div class="titleText2" style="padding:0;">
            <button id="thbnB<%= video.video._id %>" class="btn btn-block bg-gradient-danger btn-primary"
                style="margin: auto; margin-bottom: 5px; text-align:center;text-overflow:visible;">
                <i class="ni ni-button-play"></i>
            </button>
        </div>




        <div class="embed-responsive embed-responsive-16by9" style="" id="responsiveDiv<%= video.video._id %>">
            <iframe class="embed-responsive-item" src="<%= video.video.properties.embedUrl %>" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen="" id="modalEmbedVideoId"></iframe><input
                type="hidden" id="hiddenURl" value="<%= video.video.properties.originalUrl %>">
            <button type="button" value="Edit" class="col-2 btn btn-sm btn-primary "
                style="border-radius: 100vh;right:-80%;" onclick="expandIframe(<%= video.video._id %>)" data-toggle="tooltip"
                data-placement="top" title="" id="expandButton<%= video.video._id %>"
                data-original-title="Expand this video to a greater size">
                <span class="btn-inner--icon"><i class="ni ni-tv-2">

                    </i>
                </span>
            </button>
        </div>

        <div class="flex-wrap">
                <div class="input-group col-12" style="padding:0;">
                    <div class="btn btn-1 btn-outline-warning" style="border:transparent; padding: .625rem .6rem;"
                        data-toggle="collapse" data-target="#demo<%= video.video._id %>" aria-controls="nav-inner-primary" aria-expanded="false"
                        aria-label="Toggle navigation">Top Tag:</div>
                    <div class="btn btn-1 btn-outline-warning" style="padding: .625rem .9rem;" data-toggle="collapse"
                        data-target="#demo<%= video.video._id %>" aria-controls="nav-inner-primary" aria-expanded="false"
                        aria-label="Toggle navigation"><%= video.tags[0].tagName %></div>
                    <div class="btn btn-1 btn-outline-warning" style="padding: .625rem .9rem;" data-toggle="collapse"
                        data-target="#demo<%= video.video._id %>" aria-controls="nav-inner-primary" aria-expanded="false"
                        aria-label="Toggle navigation"><%= video.tags[0].level %></div><span class="input-group-btn"
                        style="margin:auto; text-align: right; margin-right:0;"><button class="btn btn-neutral"
                            type="button" data-toggle="collapse" data-target="#demo<%= video.video._id %>" aria-controls="nav-inner-primary"
                            aria-expanded="false" aria-label="Toggle navigation"><span class="" data-toggle="tooltip"
                                data-placement="top" title=""
                                data-original-title="Consult the list of criterii applying to this video"><i
                                    class="ni ni-bold-down"></i></span></button></span>
                </div>
            </div>


            <div class="collapse col-12" id="demo<%= video.video._id %>" style="max-height: 50vh; overflow:auto;">
                    <div class="container-fluid justify-content-center" id="progressBarContainer<%= video.video._id %>" style="float: left;">

                            <% video.tags.forEach(function(tag) { %>                            
                                <%- include('criterion', {video: video.video, tag : tag}); %>
                                
                            <% }); %>


                    </div>
                </div>






    </div>
</div>